<div class="row">
  {{#each people as |person i|}}
    <div class="col s12 m6">
      <div class="card {{if person.hasBiggerMass 'teal' 'red'}} accent-4">
        <div class="card-content white-text">
          <h3>{{unless i leftWinCount rightWinCount}}</h3>
          <span class="card-title">{{person.name}}</span>
          <ul>
            <li>Mass: {{person.mass}}</li>
            <li>Name: {{person.name}}</li>
            <li>Gender: {{person.gender}}</li>
            <li>Height: {{person.height}}</li>
            <li>Eye color: {{person.eye_color}}</li>
            <li>Hair color: {{person.hair_color}}</li>
            <li>Birth year: {{person.birth_year}}</li>
            <li>Skin color: {{person.skin_color}}</li>
          </ul>
        </div>
      </div>
    </div>
  {{/each}}
  <button class="waves-effect waves-light btn-large" onclick={{action 'shuffle'}}>Shuffle</button>
</div>
