<div class="row">
  {{#each collection as |person i|}}
    <div class="col s12 m6">
      <div class="card {{if person.hasBiggerMass 'teal' 'red'}} accent-4">
        <div class="card-content white-text">
          <h3 class="center-align">Wins: {{unless i leftWinCount rightWinCount}}</h3>
          <h4 class="card-title center-align">{{person.name}}</h4>
          <ul>
            <li><h5>Mass: {{person.mass}}</h5></li>
            <li>Name: {{person.name}}</li>
            <li>Gender: {{person.gender}}</li>
            <li>Height: {{person.height}}</li>
            <li>Eye color: {{person.eye_color}}</li>
            <li>Hair color: {{person.hair_color}}</li>
            <li>Birth year: {{person.birth_year}}</li>
            <li>Skin color: {{person.skin_color}}</li>
          </ul>
        </div>
      </div>
    </div>
  {{/each}}
</div>
{{partial 'partials/refresh-btn'}}
