<h2 class="mb-4 text-center">Starships</h2>
<div class="row mb-4">
  {{#each collection as |starship i|}}
    <div class="col col-md-6">
      <h2 class="text-center">Wins: {{unless i leftWinCount rightWinCount}}</h2>
      <div class="card {{if starship.hasBiggerMass "border-success"}}">
        <div class="card-body">
          <h4 class="card-title mb-2 text-muted">{{starship.name}}</h4>
          <ul>
            <li class="font-weight-bold">Crew: {{starship.crew}}</li>
            <li>MGLT: {{starship.MGLT}}</li>
            <li>Name: {{starship.name}}</li>
            <li>Model: {{starship.model}}</li>
            <li>Length: {{starship.length}}</li>
            <li>Passengers: {{starship.passengers}}</li>
            <li>Consumables: {{starship.consumables}}</li>
            <li>Manufacturer: {{starship.manufacturer}}</li>
            <li>Starship class: {{starship.starship_class}}</li>
            <li>Cargo capacity: {{starship.cargo_capacity}}</li>
            <li>Cost in credits: {{starship.cost_in_credits}}</li>
            <li>Hyperdrive rating: {{starship.hyperdrive_rating}}</li>
            <li>Max atmosphering speed: {{starship.max_atmosphering_speed}}</li>
          </ul>
        </div>
      </div>
    </div>
  {{/each}}
</div>

<RefreshBtn @shuffle={{action "shuffle"}}></RefreshBtn>
